<div x-data="alpineArsenal" x-init="initPage()">
    <div>
        <h2>Arsenal</h2>
        <p>
            The Arsenal plugin contains a collection of TTPs (tactics, techniques, and procedures), adversary profiles,
            data sources and
            planners. These can be used to construct dynamic operations against targeted hosts for Machine Learning
            Systems in conjunction with other CALDERA plugins.
        </p>
    </div>
    <hr>
    <div class="is-flex is-align-items-center is-justify-content-center is-flex-direction-column fill">
        <div class="is-flex is-flex-direction-row">
            <div class="is-flex is-flex-direction-column is-align-items-center m-4">
                <h1 class="has-text-info is-size-1 mb-0" x-text="numAbilities || '---'"></h1>
                <p>abilties</p>
                <a class="button is-primary is-small"
                    x-on:click="addTab('abilities', '/campaign/abilities', 'plugin=arsenal')">
                    <span>Abilities</span>
                    <span class="icon"><i class="fas fa-angle-right"></i></span>
                </a>
            </div>
            <div class="is-flex is-flex-direction-column is-align-items-center m-4">
                <h1 class="has-text-info is-size-1 mb-0" x-text="numAdversaries || '---'"></h1>
                <p>adversaries</p>
                <a class="button is-primary is-small"
                    x-on:click="addTab('adversaries', '/campaign/profiles', 'plugin=arsenal')">
                    <span>Adversaries</span>
                    <span class="icon"><i class="fas fa-angle-right"></i></span>
                </a>
            </div>
        </div>

        <p>View or edit these abilities and adversaries on their respective pages.</p>
    </div>
</div>

<script>
    function alpineArsenal() {
        return {
            numAbilities: 0,
            numAdversaries: 0,
            initPage() {
                apiV2('GET', 'api/v2/abilities').then((abilities) => {
                    this.numAbilities = abilities.filter((ability) => ability.plugin === 'arsenal').length;
                    console.log('abilities', this.numAbilities)
                    return apiV2('GET', 'api/v2/abilities');
                    return apiV2('GET', 'api/v2/adversaries');
                }).then((profiles) => {
                    this.numAdversaries = profiles.filter((profile) => profile.plugin === 'arsenal').length;
                    console.log('adversaries', this.numAdversaries)
                }).catch((error) => {
                    toast('Error loading page', false);
                    console.error(error);
                })
            }
        }
    }

//- arsenal.js
</script>

<style scoped>
    .fill {
        height: 50%;
        width: 100%;
    }
</style>